.appDiv{
    margin: 30px auto;
    padding: 20px;
    max-width: 400px;
  
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(196, 226, 184);
    background-image: url(../image/Erotic-Model-Siluet.svg);
    background-size: contain;
    background-repeat: no-repeat;
    
}
